<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Node.js Lab</h1>
    <p>Welcome to <%= title %></p>
		<menu>
			<ol>
				<li><a href="/user">Consultar usuários</a></li>
				<li><a href="/user/add">Cadastrar usuário</a></li>
				<li><a href="/occupations">Consultar cargos</a></li>
				<li><a href="/occupation/add">Cadastrar cargo</a></li>
			</ol>
		</menu>
  </body>
</html>