/* Documento Css */

* {
  padding: 0;
  margin: 0;
}

body {
    background-image: linear-gradient(to left,gray,black);
    width: 100%;
    background-size: 200%;
}

a {
  color:white;
}

.container #fieldset {
  margin-left:35%;
  background-image: linear-gradient(to left,#c9c5f5,black);
  border-radius:4px;
  margin-top: 60px;
  width: 317px;
  height: 200px;
}

.container #fieldset #fieldsetTitle {
  margin-left: 38%;
  color:white;
}

.container #fieldset .fieldDescription {
  margin-left: 10%;
  color:white;
  font-size: 12px;
}

.container #fieldset .fieldInput {
  margin-left: 12%;
  margin-top: 2px;
  width: 76%;
  height: 20px;
  background-image: linear-gradient(to left,#c9c5f5,black);
  padding: 2px;
  border-radius: 5px;
  border-color: gray;
  color: white;
  font-family: Arial;
}

.container #fieldset .fieldButton {
  margin-left: 12%;
  margin-top: 17px;
  width: 79%;
  background-image: linear-gradient(to left,#c9c5f5,black);
  padding: 2px;
  border-radius: 5px;
  border-color: gray;
  color: white;
  font-weight: bolder;
  letter-spacing: -1px;
  font-size: 14px;
  font-family: Arial;
}

#table_info {
  letter-spacing: 1px;
  line-height: 25px;
  color:white;
  border: 0px solid ;
  width: 300px;
  margin-top:20px;
  font-size: 15px;
  padding-bottom: 20px;
}

#relatorios {
  float: left;
  color:#c9c0c6;
  margin-left: 35%;
  margin-top: 15px;
  height: 400px;
  width: 550px;
}

#relatorios span.active {
  font-weight: bold;
}