<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Materia Prima</title>
	</head>
	<body>
		<div class="container">
			<h1>Registrar materia</h1>
			<%- include('form', { url: '/materiaPrima/create', name: '', id: '', preco: '', descricao: '' }) %>
		</div>
	</body>
</html>