<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Materia Prima</title>
	</head>
	<body>
		<div class="container">
			<h1>Atualizar Materia</h1>
			<%- include('form', { url: '/materiaPrima/update', id: id, name: name, preco: preco, descricao: descricao })%>
		</div>
	</body>
</html>