<!DOCTYPE html>
<html>
  <head>
    <title>Estoque</title>
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sabonetes Artesanais</h1>
    <menu>
      <ol>
        <li><a href="/produto">Produtos</a></li>
        <li><a href="/materiaPrima">Materias Primas</a></li>
        <li><a href="/produtoVenda">Produtos a venda</a></li>
        <li><a href="/cliente">Clientes</a></li>
        <li><a href="/venda">Registrar Venda</a></li>
      </ol>
    </menu>
  </body>
</html>