<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Produtos</title>
	</head>
	<body>
		<div class="container">
			<h1>Registrar produto</h1>
			<%- include('form', { url: '/produto/create', name: '', id: '', descricao: '' }) %>
		</div>
	</body>
</html>