<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Produtos</title>
	</head>
	<body>
		<h1>Registrar produto</h1>
		<%- include('form', { url: '/produto/create', name: '', id: '', descricao: '' }) %>
	</body>
</html>