<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Produtos</title>
	</head>
	<body>
		<div class="container">
			<h1>Atualizar Produto</h1>
			<%- include('form', { url: '/produto/update', id: id, name: name, descricao: descricao })%>
		</div>
	</body>
</html>