<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<title>Produtos</title>
	</head>
	<body>
		<h1>Atualizar Produto</h1>
		<%- include('form', { url: '/produto/update', id: id, name: name, descricao: descricao })%>
	</body>
</html>